body{
    font-family: Arial, halvetica, sans-serif;
    margin: o;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

header{
    background-color: rgb(32, 32, 34);
    color: white;
    text-align: center;
    padding: 1rem;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.search-container{
    display: flex;
    margin-bottom: 1rem;
}

input[type="text"]{
    flex: 1;
    padding: 0.5rem;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}

footer{
    background-color: rgb(32, 32, 34);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

